	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1200px;
		min-height: 500px;
	}

	#pu5696
	{
		width: 0.01px;
		padding-bottom: 589px;
		margin-bottom: -89px;
	}

	#u5696
	{
		top: 0px;
	}

	#menuu5697
	{
		z-index: 3;
		width: 67px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 287px;
	}

	#u5698,#u5699
	{
		width: 66px;
	}

	#u5702-4
	{
		width: 66px;
	}

	#u5699.MuseMenuActive,#u5699.MuseMenuActive #u5702-4
	{
		margin-left: 0px;
		width: 66px;
	}

	#menuu5705
	{
		z-index: 10;
		width: 101px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 168px;
	}

	#u5706,#u5707
	{
		width: 100px;
	}

	#u5710-4
	{
		width: 100px;
	}

	#u5707.MuseMenuActive,#u5707.MuseMenuActive #u5710-4
	{
		margin-left: 0px;
		width: 100px;
	}

	#menuu5713
	{
		z-index: 17;
		width: 83px;
		height: 38px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 372px;
	}

	#u5714,#u5715
	{
		width: 83px;
	}

	#u5716-4
	{
		width: 83px;
	}

	#u5715.MuseMenuActive,#u5715.MuseMenuActive #u5716-4
	{
		margin-left: 0px;
		width: 83px;
	}

	#menuu5721
	{
		z-index: 24;
		width: 459px;
		height: 44px;
		position: fixed;
		top: 40px;
		left: 50%;
		margin-left: -594px;
	}

	#u5722,#u5723
	{
		width: 458px;
	}

	#u5725-4
	{
		width: 458px;
	}

	#u5723.MuseMenuActive,#u5723.MuseMenuActive #u5725-4
	{
		margin-left: 0px;
		width: 458px;
	}

	#menuu5729
	{
		z-index: 31;
		width: 54px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 590px;
	}

	#u5730,#u5731
	{
		width: 53px;
	}

	#u5732-4
	{
		width: 53px;
	}

	#u5731.MuseMenuActive,#u5731.MuseMenuActive #u5732-4
	{
		margin-left: 0px;
		width: 53px;
	}

	#menuu5737
	{
		z-index: 38;
		width: 99px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 472px;
	}

	#u5738,#u5741
	{
		width: 99px;
	}

	#u5743-4
	{
		width: 99px;
	}

	#u5741.MuseMenuActive,#u5741.MuseMenuActive #u5743-4
	{
		margin-left: 0px;
		width: 99px;
	}

	#u7639
	{
		width: 797px;
		padding-bottom: 386px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -383px;
	}

	#u7609
	{
		width: 155px;
		padding-bottom: 386px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -383px;
	}

	#u7395
	{
		width: 155px;
		padding-bottom: 86px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -383px;
	}

	#u6928-4
	{
		width: 100px;
		min-height: 82px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -383px;
	}

	#u7017-4
	{
		width: 55px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -283px;
	}

	#u7194-4
	{
		width: 136px;
		position: fixed;
		top: 529px;
		left: 50%;
		margin-left: -373px;
	}

	#u6958-4
	{
		width: 126px;
		position: fixed;
		top: 304px;
		left: 50%;
		margin-left: -368px;
	}

	#u7507
	{
		width: 72px;
		position: fixed;
		top: 433px;
		left: 50%;
		margin-left: -341px;
	}

	#u7615
	{
		width: 180px;
		padding-bottom: 386px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -61px;
	}

	#u7215-4
	{
		width: 180px;
		position: fixed;
		top: 529px;
		left: 50%;
		margin-left: -61px;
	}

	#u7401
	{
		width: 155px;
		padding-bottom: 86px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -48px;
	}

	#u7311-4
	{
		width: 100px;
		min-height: 82px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -48px;
	}

	#u7323-4
	{
		width: 55px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: 52px;
	}

	#u7164-4
	{
		width: 126px;
		position: fixed;
		top: 304px;
		left: 50%;
		margin-left: -34px;
	}

	#u7526
	{
		width: 69px;
		position: fixed;
		top: 437px;
		left: 50%;
		margin-left: -5px;
	}

	#u7621
	{
		width: 158px;
		padding-bottom: 366px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: 256px;
	}

	#u7302-4
	{
		width: 158px;
		position: fixed;
		top: 529px;
		left: 50%;
		margin-left: 256px;
	}

	#u6993-4
	{
		width: 107px;
		position: fixed;
		top: 304px;
		left: 50%;
		margin-left: 281px;
	}

	#u6976-4
	{
		width: 86px;
		min-height: 78px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: 292px;
	}

	#u7488
	{
		width: 66px;
		position: fixed;
		top: 436px;
		left: 50%;
		margin-left: 302px;
	}

	#u6917
	{
		margin-top: 153px;
		left: 202px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 885px);
	}

	body
	{
		min-width: 1200px;
	}


