	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1200px;
	}

	#psikshahome
	{
		width: 0.01px;
		margin-left: -351px;
	}

	#sikshahome
	{
		margin-left: 251px;
	}

	#pu17517-4
	{
		margin-top: 96px;
	}

	#u17517-4
	{
		margin-top: 60px;
		left: 547px;
	}

	#u17207
	{
		width: 730px;
		padding: 78px 585px 82px 586px;
	}

	#u17221-4
	{
		width: 84px;
		margin-left: 323px;
	}

	#u17206-4
	{
		width: 730px;
		min-height: 74px;
		left: -1px;
		margin-top: 49px;
	}

	#u17213
	{
		width: 541px;
		margin-left: 94px;
		margin-top: 49px;
	}

	#u17216-4
	{
		width: 78px;
	}

	#u17215-4
	{
		width: 114px;
		min-height: 43px;
		left: 191px;
	}

	#u17214-4
	{
		width: 124px;
		min-height: 38px;
		left: 417px;
	}

	#u18393,#u18461,#u18469,#u18476,#u18509,#u18517,#u18524,#u18531,#u18573,#u18581
	{
		margin-left: 527px;
	}

	#pu18387
	{
		margin-left: 465px;
	}

	#u18754
	{
		margin-left: 526px;
		margin-top: 61px;
	}

	#u18761
	{
		width: 1024px;
		margin-left: 526px;
	}

	#u18768
	{
		margin-left: 526px;
		top: -1px;
		margin-bottom: -1px;
	}

	#pu17244
	{
		z-index: 75;
		width: 0.01px;
		height: 0px;
		padding-bottom: 590px;
		margin-right: -10000px;
	}

	#u17244
	{
		width: 94px;
		padding-bottom: 416px;
		position: fixed;
		top: 174px;
		left: 89px;
	}

	#u17245
	{
		width: 94px;
		padding-bottom: 415px;
		position: fixed;
		top: 174px;
		left: 89px;
	}

	#u17247
	{
		width: 94px;
		padding-bottom: 94px;
		position: fixed;
		top: 387px;
		left: 89px;
	}

	#u17248
	{
		width: 94px;
		height: 94px;
		background-image: url("../images/india-school-2-u17248-fr.jpg?crc=423325842");
		position: fixed;
		top: 387px;
		left: 89px;
	}

	#u17248:hover
	{
		background-image: url("../images/india-school-2-u17248-r-fr.png?crc=473589399");
		background-color: #F8F8F8;
		background-color: rgba(244,244,244,0.6);
		margin-left: 0px;
		margin-right: 0px;
		width: 94px;
		height: 94px;
	}

	#u17248.MuseLinkActive
	{
		background-image: url("../images/india-school-2-u17248-fr.jpg?crc=423325842");
		background-color: #F4F4F4;
		background-color: rgba(244,244,244,1);
		margin-left: 0px;
		margin-right: 0px;
		width: 94px;
		height: 94px;
	}

	.hidpi #u17248:hover
	{
		background-image: url("../images/india-school-2-u17248-r-fr_2x.png?crc=4190472500");
	}

	.hidpi #u17248,.hidpi #u17248.MuseLinkActive
	{
		background-image: url("../images/india-school-2-u17248-fr_2x.jpg?crc=218591836");
	}

	#u17246
	{
		width: 62px;
		height: 62px;
		background-image: url("../images/cristina-gottardi-bw-unsplash-u15778-fr.jpg?crc=409402341");
		position: fixed;
		top: 174px;
		left: 105px;
	}

	#u17246:hover
	{
		background-image: url("../images/cristina-gottardi-462734-unsplash-u15778-r-fr.png?crc=498808237");
		background-color: #F8F8F8;
		background-color: rgba(244,244,244,0.6);
		margin-left: 0px;
		margin-right: 0px;
		width: 62px;
		height: 62px;
	}

	.hidpi #u17246
	{
		background-image: url("../images/cristina-gottardi-bw-unsplash-u15778-fr_2x.jpg?crc=3981337796");
	}

	.hidpi #u17246:hover
	{
		background-image: url("../images/cristina-gottardi-462734-unsplash-u15778-r-fr_2x.png?crc=464063408");
	}

	#u17249
	{
		width: 62px;
		padding-bottom: 62px;
		position: fixed;
		top: 528px;
		left: 105px;
	}

	#u17250
	{
		width: 62px;
		height: 62px;
		background-image: url("../images/board%20bw-u15784-fr.jpg?crc=489388870");
		position: fixed;
		top: 528px;
		left: 105px;
	}

	#u17250:hover
	{
		background-image: url("../images/board-u15784-r-fr.png?crc=3803403985");
		background-color: #F7F7F7;
		background-color: rgba(244,244,244,0.65);
		margin-left: 0px;
		margin-right: 0px;
		width: 62px;
		height: 62px;
	}

	.hidpi #u17250
	{
		background-image: url("../images/board%20bw-u15784-fr_2x.jpg?crc=3765065549");
	}

	.hidpi #u17250:hover
	{
		background-image: url("../images/board-u15784-r-fr_2x.png?crc=3943744818");
	}

	#u17251
	{
		width: 62px;
		height: 62px;
		background-image: url("../images/rawpixel-668353-bw-u16939-fr.jpg?crc=4079471103");
		position: fixed;
		top: 278px;
		left: 105px;
	}

	#u17251:hover
	{
		background-image: url("../images/rawpixel-668353-unsplash-u16939-r-fr.png?crc=527400512");
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.6);
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		width: 62px;
		height: 62px;
	}

	.hidpi #u17251
	{
		background-image: url("../images/rawpixel-668353-bw-u16939-fr_2x.jpg?crc=3947261731");
	}

	.hidpi #u17251:hover
	{
		background-image: url("../images/rawpixel-668353-unsplash-u16939-r-fr_2x.png?crc=3776103222");
	}

	.js #u17248.ose_pre_init,.js #u17246.ose_pre_init,.js #u17250.ose_pre_init,.js #u17251.ose_pre_init
	{
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
	}

	#u21612
	{
		top: 0px;
	}

	#u21613-5
	{
		top: 37px;
		left: 63px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 18649px);
	}

	body
	{
		min-width: 1200px;
	}

