.version.skills /* version checker */
{
	color: #00000D;
	background-color: #8AB5ED;
}

#page
{
	border-width: 0px;
	background-image: none;
	z-index: 1;
	margin-right: auto;
	border-color: #000000;
	margin-left: auto;
	background-color: transparent;
}

#pu5696
{
	height: 0px;
	z-index: 2;
	margin-right: -10000px;
}

#u5696
{
	height: 111px;
	z-index: 2;
	background-color: #FFFFFF;
	position: fixed;
}

#u5696-bw
{
	z-index: 2;
}

#u5702-4
{
	border-width: 0px;
	color: #F75B5B;
	line-height: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	font-weight: 700;
	font-family: amaranth, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	top: 9px;
	min-height: 18px;
	text-align: left;
}

.MenuItem
{
	cursor: pointer;
}

#u5714
{
	border-width: 0px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	padding-bottom: 1px;
}

#u5722
{
	border-width: 0px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	min-height: 44px;
}

#u5723
{
	border-width: 0px;
	background-color: transparent;
	position: relative;
}

#u5725-4
{
	border-width: 0px;
	color: #F75B5B;
	line-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	font-weight: 400;
	font-family: arizonia, sans-serif;
	text-align: left;
	min-height: 44px;
	font-size: 37px;
}

#u5723.MuseMenuActive #u5725-4
{
	margin-right: -10000px;
	margin-bottom: 0px;
	min-height: 44px;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
}

#menuu5697,#menuu5705,#menuu5713,#menuu5721,#menuu5729,#menuu5737
{
	border-width: 0px;
	background-color: transparent;
}

#u5698,#u5706,#u5730,#u5738
{
	border-width: 0px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	min-height: 37px;
}

#u5699,#u5707,#u5715,#u5731,#u5741
{
	border-width: 0px;
	padding-bottom: 19px;
	background-color: transparent;
	position: relative;
}

#u5699.MuseMenuActive,#u5707.MuseMenuActive,#u5715.MuseMenuActive,#u5723.MuseMenuActive,#u5731.MuseMenuActive,#u5741.MuseMenuActive
{
	margin-bottom: 0px;
	min-height: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

#u5710-4,#u5716-4,#u5732-4,#u5743-4
{
	border-width: 0px;
	color: #8B807F;
	line-height: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	font-weight: 400;
	font-family: amaranth, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	top: 9px;
	min-height: 18px;
	text-align: left;
}

#u5699.MuseMenuActive #u5702-4,#u5707.MuseMenuActive #u5710-4,#u5715.MuseMenuActive #u5716-4,#u5731.MuseMenuActive #u5732-4,#u5741.MuseMenuActive #u5743-4
{
	margin-right: -10000px;
	margin-bottom: 0px;
	min-height: 18px;
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
}

#u6917
{
	border-width: 0px;
	z-index: 45;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	width: 100px;
	background-color: transparent;
}

#u7639
{
	border-width: 0px;
	border-color: transparent;
	z-index: 46;
	background-color: transparent;
}

#u7621
{
	border-width: 0px;
	border-color: transparent;
	z-index: 47;
	background-color: transparent;
}

#u6993-4
{
	color: #8B807F;
	line-height: 20px;
	z-index: 52;
	background-color: transparent;
	font-weight: 400;
	font-family: amaranth, sans-serif;
	text-align: center;
	min-height: 21px;
	font-size: 17px;
}

#u7302-4
{
	color: #8B807F;
	line-height: 20px;
	z-index: 56;
	background-color: transparent;
	font-weight: 400;
	font-family: amaranth, sans-serif;
	text-align: center;
	min-height: 21px;
	font-size: 17px;
}

#u6976-4
{
	color: #F75B5B;
	line-height: 86px;
	z-index: 48;
	font-weight: 700;
	font-family: amaranth, sans-serif;
	text-align: center;
	font-size: 72px;
}

.counter
{
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#u7488
{
	z-index: 60;
	background-color: transparent;
}

#u7483
{
	z-index: 61;
	display: block;
}

#u7615
{
	border-width: 0px;
	border-color: transparent;
	z-index: 62;
	background-color: transparent;
}

#u7164-4
{
	color: #8B807F;
	line-height: 20px;
	z-index: 63;
	background-color: transparent;
	font-weight: 400;
	font-family: amaranth, sans-serif;
	text-align: center;
	min-height: 21px;
	font-size: 17px;
}

#u7215-4
{
	color: #8B807F;
	line-height: 20px;
	z-index: 67;
	background-color: transparent;
	font-weight: 400;
	font-family: amaranth, sans-serif;
	text-align: center;
	min-height: 21px;
	font-size: 17px;
}

#u7401
{
	border-width: 0px;
	border-color: transparent;
	z-index: 71;
	background-color: transparent;
}

#u7323-4
{
	color: #F75B5B;
	line-height: 86px;
	z-index: 76;
	background-color: transparent;
	font-weight: 700;
	font-family: amaranth, sans-serif;
	font-size: 72px;
	min-height: 63px;
}

#u7311-4
{
	color: #F75B5B;
	line-height: 86px;
	z-index: 72;
	font-weight: 700;
	font-family: amaranth, sans-serif;
	text-align: center;
	font-size: 72px;
}

#u7526
{
	z-index: 80;
	background-color: transparent;
}

#u7521
{
	z-index: 81;
	display: block;
}

#u7609
{
	border-width: 0px;
	border-color: transparent;
	z-index: 82;
	background-color: transparent;
}

#u6958-4
{
	color: #8B807F;
	line-height: 20px;
	z-index: 83;
	background-color: transparent;
	font-weight: 400;
	font-family: amaranth, sans-serif;
	text-align: center;
	min-height: 21px;
	font-size: 17px;
}

#u7194-4
{
	color: #8B807F;
	line-height: 20px;
	z-index: 87;
	background-color: transparent;
	font-weight: 400;
	font-family: amaranth, sans-serif;
	text-align: center;
	min-height: 21px;
	font-size: 17px;
}

#u7395
{
	border-width: 0px;
	border-color: transparent;
	z-index: 91;
	background-color: transparent;
}

#u7017-4
{
	color: #F75B5B;
	line-height: 86px;
	z-index: 96;
	background-color: transparent;
	font-weight: 700;
	font-family: amaranth, sans-serif;
	font-size: 72px;
	min-height: 63px;
}

#u6928-4
{
	color: #F75B5B;
	line-height: 86px;
	z-index: 92;
	font-weight: 700;
	font-family: amaranth, sans-serif;
	text-align: center;
	font-size: 72px;
}

#u7507
{
	z-index: 100;
	background-color: transparent;
}

#u7502
{
	z-index: 101;
	display: block;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
}

@media (min-width: 1201px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1200px;
		min-height: 500px;
	}

	#pu5696
	{
		width: 0.01px;
		padding-bottom: 589px;
		margin-bottom: -89px;
	}

	#u5696
	{
		top: 0px;
	}

	#menuu5697
	{
		z-index: 3;
		width: 67px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 287px;
	}

	#u5698,#u5699
	{
		width: 66px;
	}

	#u5702-4
	{
		width: 66px;
	}

	#u5699.MuseMenuActive,#u5699.MuseMenuActive #u5702-4
	{
		margin-left: 0px;
		width: 66px;
	}

	#menuu5705
	{
		z-index: 10;
		width: 101px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 168px;
	}

	#u5706,#u5707
	{
		width: 100px;
	}

	#u5710-4
	{
		width: 100px;
	}

	#u5707.MuseMenuActive,#u5707.MuseMenuActive #u5710-4
	{
		margin-left: 0px;
		width: 100px;
	}

	#menuu5713
	{
		z-index: 17;
		width: 83px;
		height: 38px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 372px;
	}

	#u5714,#u5715
	{
		width: 83px;
	}

	#u5716-4
	{
		width: 83px;
	}

	#u5715.MuseMenuActive,#u5715.MuseMenuActive #u5716-4
	{
		margin-left: 0px;
		width: 83px;
	}

	#menuu5721
	{
		z-index: 24;
		width: 459px;
		height: 44px;
		position: fixed;
		top: 40px;
		left: 50%;
		margin-left: -594px;
	}

	#u5722,#u5723
	{
		width: 458px;
	}

	#u5725-4
	{
		width: 458px;
	}

	#u5723.MuseMenuActive,#u5723.MuseMenuActive #u5725-4
	{
		margin-left: 0px;
		width: 458px;
	}

	#menuu5729
	{
		z-index: 31;
		width: 54px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 590px;
	}

	#u5730,#u5731
	{
		width: 53px;
	}

	#u5732-4
	{
		width: 53px;
	}

	#u5731.MuseMenuActive,#u5731.MuseMenuActive #u5732-4
	{
		margin-left: 0px;
		width: 53px;
	}

	#menuu5737
	{
		z-index: 38;
		width: 99px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 472px;
	}

	#u5738,#u5741
	{
		width: 99px;
	}

	#u5743-4
	{
		width: 99px;
	}

	#u5741.MuseMenuActive,#u5741.MuseMenuActive #u5743-4
	{
		margin-left: 0px;
		width: 99px;
	}

	#u7639
	{
		width: 797px;
		padding-bottom: 386px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -383px;
	}

	#u7609
	{
		width: 155px;
		padding-bottom: 386px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -383px;
	}

	#u7395
	{
		width: 155px;
		padding-bottom: 86px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -383px;
	}

	#u6928-4
	{
		width: 100px;
		min-height: 82px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -383px;
	}

	#u7017-4
	{
		width: 55px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -283px;
	}

	#u7194-4
	{
		width: 136px;
		position: fixed;
		top: 529px;
		left: 50%;
		margin-left: -373px;
	}

	#u6958-4
	{
		width: 126px;
		position: fixed;
		top: 304px;
		left: 50%;
		margin-left: -368px;
	}

	#u7507
	{
		width: 72px;
		position: fixed;
		top: 433px;
		left: 50%;
		margin-left: -341px;
	}

	#u7615
	{
		width: 180px;
		padding-bottom: 386px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -61px;
	}

	#u7215-4
	{
		width: 180px;
		position: fixed;
		top: 529px;
		left: 50%;
		margin-left: -61px;
	}

	#u7401
	{
		width: 155px;
		padding-bottom: 86px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -48px;
	}

	#u7311-4
	{
		width: 100px;
		min-height: 82px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: -48px;
	}

	#u7323-4
	{
		width: 55px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: 52px;
	}

	#u7164-4
	{
		width: 126px;
		position: fixed;
		top: 304px;
		left: 50%;
		margin-left: -34px;
	}

	#u7526
	{
		width: 69px;
		position: fixed;
		top: 437px;
		left: 50%;
		margin-left: -5px;
	}

	#u7621
	{
		width: 158px;
		padding-bottom: 366px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: 256px;
	}

	#u7302-4
	{
		width: 158px;
		position: fixed;
		top: 529px;
		left: 50%;
		margin-left: 256px;
	}

	#u6993-4
	{
		width: 107px;
		position: fixed;
		top: 304px;
		left: 50%;
		margin-left: 281px;
	}

	#u6976-4
	{
		width: 86px;
		min-height: 78px;
		position: fixed;
		top: 203px;
		left: 50%;
		margin-left: 292px;
	}

	#u7488
	{
		width: 66px;
		position: fixed;
		top: 436px;
		left: 50%;
		margin-left: 302px;
	}

	#u6917
	{
		margin-top: 153px;
		left: 202px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 885px);
	}

	body
	{
		min-width: 1200px;
	}

}

@media (min-width: 901px) and (max-width: 1200px)
{
	#muse_css_mq
	{
		background-color: #0004b0;
	}

	#bp_1200.active
	{
		display: block;
	}

	#page
	{
		width: 900px;
		min-height: 438px;
		padding-bottom: 62px;
	}

	#pu5696
	{
		width: 0.01px;
		padding-bottom: 111px;
		margin-top: 20px;
	}

	#u5696
	{
		top: 20px;
	}

	#menuu5697
	{
		z-index: 3;
		width: 57px;
		height: 37px;
		position: fixed;
		top: 63px;
		left: 50%;
		margin-left: 104px;
	}

	#u5698,#u5699
	{
		width: 57px;
	}

	#u5702-4
	{
		width: 57px;
	}

	#u5699.MuseMenuActive,#u5699.MuseMenuActive #u5702-4
	{
		margin-left: 0px;
		width: 57px;
	}

	#menuu5705
	{
		z-index: 10;
		width: 86px;
		height: 37px;
		position: fixed;
		top: 63px;
		left: 50%;
		margin-left: -12px;
	}

	#u5706,#u5707
	{
		width: 86px;
	}

	#u5710-4
	{
		width: 86px;
	}

	#u5707.MuseMenuActive,#u5707.MuseMenuActive #u5710-4
	{
		margin-left: 0px;
		width: 86px;
	}

	#menuu5713
	{
		z-index: 17;
		width: 71px;
		height: 38px;
		position: fixed;
		top: 63px;
		left: 50%;
		margin-left: 191px;
	}

	#u5714,#u5715
	{
		width: 71px;
	}

	#u5716-4
	{
		width: 71px;
	}

	#u5715.MuseMenuActive,#u5715.MuseMenuActive #u5716-4
	{
		margin-left: 0px;
		width: 71px;
	}

	#menuu5721
	{
		z-index: 24;
		width: 393px;
		height: 44px;
		position: fixed;
		top: 60px;
		left: 50%;
		margin-left: -610px;
	}

	#u5722,#u5723
	{
		width: 393px;
	}

	#u5725-4
	{
		width: 393px;
	}

	#u5723.MuseMenuActive,#u5723.MuseMenuActive #u5725-4
	{
		margin-left: 0px;
		width: 393px;
	}

	#menuu5729
	{
		z-index: 31;
		width: 46px;
		height: 37px;
		position: fixed;
		top: 63px;
		left: 50%;
		margin-left: 407px;
	}

	#u5730,#u5731
	{
		width: 46px;
	}

	#u5732-4
	{
		width: 46px;
	}

	#u5731.MuseMenuActive,#u5731.MuseMenuActive #u5732-4
	{
		margin-left: 0px;
		width: 46px;
	}

	#menuu5737
	{
		z-index: 38;
		width: 85px;
		height: 37px;
		position: fixed;
		top: 63px;
		left: 50%;
		margin-left: 292px;
	}

	#u5738,#u5741
	{
		width: 85px;
	}

	#u5743-4
	{
		width: 85px;
	}

	#u5741.MuseMenuActive,#u5741.MuseMenuActive #u5743-4
	{
		margin-left: 0px;
		width: 85px;
	}

	#u6917
	{
		margin-top: 174px;
		left: 545px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 286px);
	}

	#u7639
	{
		width: 755px;
		position: relative;
		margin-right: -10000px;
		margin-top: -290px;
		left: 175px;
	}

	#pu7621
	{
		z-index: 47;
		width: 0.01px;
		margin-right: -10000px;
	}

	#u7621
	{
		width: 755px;
		position: relative;
		margin-right: -10000px;
		margin-top: 52px;
	}

	#pu6993-4
	{
		z-index: 52;
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 39px;
	}

	#u6993-4,#u7302-4
	{
		width: 81px;
		position: relative;
		margin-right: -10000px;
	}

	#u6976-4
	{
		width: 250px;
		min-height: 111px;
		position: relative;
		margin-right: -10000px;
		left: 332px;
	}

	#u7488
	{
		width: 57px;
		position: relative;
		margin-right: -10000px;
		margin-top: 181px;
		left: 698px;
	}

	#u7526
	{
		width: 59px;
		position: relative;
		margin-right: -10000px;
		margin-top: 234px;
		left: 435px;
	}

	#u7615,#u7609
	{
		width: 582px;
		position: relative;
		margin-right: -10000px;
	}

	#pu6958-4
	{
		z-index: 83;
		width: 0.01px;
		margin-right: -10000px;
	}

	#u7164-4,#u7215-4,#u6958-4,#u7194-4
	{
		width: 81px;
		position: relative;
		margin-right: -10000px;
		margin-top: 91px;
	}

	#u7401,#u7395
	{
		width: 502px;
		position: relative;
		margin-right: -10000px;
		left: 80px;
	}

	#u7323-4,#u7017-4
	{
		width: 47px;
		position: relative;
		margin-right: -10000px;
	}

	#u7311-4,#u6928-4
	{
		width: 250px;
		min-height: 111px;
		position: relative;
		margin-right: -10000px;
		margin-top: 52px;
		left: 252px;
	}

	#u7507
	{
		width: 62px;
		position: relative;
		margin-right: -10000px;
		margin-top: 112px;
		left: 147px;
	}

	body
	{
		overflow-x: hidden;
		min-width: 900px;
	}

	.verticalspacer
	{
		min-height: 214px;
	}
}

@media (min-width: 769px) and (max-width: 900px)
{
	#muse_css_mq
	{
		background-color: #000384;
	}

	#bp_900.active
	{
		display: block;
	}

	#page
	{
		width: 768px;
		min-height: 438px;
		padding-bottom: 62px;
	}

	#pu5696
	{
		width: 0.01px;
		padding-bottom: 111px;
	}

	#u5696
	{
		top: 0px;
	}

	#menuu5697
	{
		z-index: 3;
		width: 43px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 299px;
	}

	#u5698,#u5699
	{
		width: 42px;
	}

	#u5702-4
	{
		width: 42px;
	}

	#u5699.MuseMenuActive,#u5699.MuseMenuActive #u5702-4
	{
		margin-left: 0px;
		width: 42px;
	}

	#menuu5705
	{
		z-index: 10;
		width: 65px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 186px;
	}

	#u5706,#u5707
	{
		width: 64px;
	}

	#u5710-4
	{
		width: 64px;
	}

	#u5707.MuseMenuActive,#u5707.MuseMenuActive #u5710-4
	{
		margin-left: 0px;
		width: 64px;
	}

	#menuu5713
	{
		z-index: 17;
		width: 53px;
		height: 38px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 387px;
	}

	#u5714,#u5715
	{
		width: 53px;
	}

	#u5716-4
	{
		width: 53px;
	}

	#u5715.MuseMenuActive,#u5715.MuseMenuActive #u5716-4
	{
		margin-left: 0px;
		width: 53px;
	}

	#menuu5721
	{
		z-index: 24;
		width: 295px;
		height: 44px;
		position: fixed;
		top: 40px;
		left: 50%;
		margin-left: -512px;
	}

	#u5722,#u5723
	{
		width: 294px;
	}

	#u5725-4
	{
		width: 294px;
	}

	#u5723.MuseMenuActive,#u5723.MuseMenuActive #u5725-4
	{
		margin-left: 0px;
		width: 294px;
	}

	#menuu5729
	{
		z-index: 31;
		width: 35px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 600px;
	}

	#u5730,#u5731
	{
		width: 34px;
	}

	#u5732-4
	{
		width: 34px;
	}

	#u5731.MuseMenuActive,#u5731.MuseMenuActive #u5732-4
	{
		margin-left: 0px;
		width: 34px;
	}

	#menuu5737
	{
		z-index: 38;
		width: 64px;
		height: 37px;
		position: fixed;
		top: 43px;
		left: 50%;
		margin-left: 490px;
	}

	#u5738,#u5741
	{
		width: 63px;
	}

	#u5743-4
	{
		width: 63px;
	}

	#u5741.MuseMenuActive,#u5741.MuseMenuActive #u5743-4
	{
		margin-left: 0px;
		width: 63px;
	}

	#u6917
	{
		margin-top: 174px;
		left: 409px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 286px);
	}

	#u7639
	{
		width: 566px;
		position: relative;
		margin-right: -10000px;
		margin-top: -311px;
		left: 131px;
	}

	#pu7621
	{
		z-index: 47;
		width: 0.01px;
		margin-right: -10000px;
	}

	#u7621
	{
		width: 566px;
		position: relative;
		margin-right: -10000px;
		margin-top: 52px;
	}

	#pu6993-4
	{
		z-index: 52;
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 39px;
	}

	#u6993-4,#u7302-4
	{
		width: 61px;
		position: relative;
		margin-right: -10000px;
	}

	#u6976-4
	{
		width: 188px;
		min-height: 111px;
		position: relative;
		margin-right: -10000px;
		left: 249px;
	}

	#u7488
	{
		width: 42px;
		position: relative;
		margin-right: -10000px;
		margin-top: 181px;
		left: 524px;
	}

	#u7526
	{
		width: 44px;
		position: relative;
		margin-right: -10000px;
		margin-top: 234px;
		left: 326px;
	}

	#u7615,#u7609
	{
		width: 436px;
		position: relative;
		margin-right: -10000px;
	}

	#pu6958-4
	{
		z-index: 83;
		width: 0.01px;
		margin-right: -10000px;
	}

	#u7164-4,#u7215-4,#u6958-4,#u7194-4
	{
		width: 61px;
		position: relative;
		margin-right: -10000px;
		margin-top: 91px;
	}

	#u7401,#u7395
	{
		width: 377px;
		position: relative;
		margin-right: -10000px;
		left: 60px;
	}

	#u7323-4,#u7017-4
	{
		width: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u7311-4,#u6928-4
	{
		width: 188px;
		min-height: 111px;
		position: relative;
		margin-right: -10000px;
		margin-top: 52px;
		left: 189px;
	}

	#u7507
	{
		width: 46px;
		position: relative;
		margin-right: -10000px;
		margin-top: 134px;
		left: 110px;
	}

	body
	{
		overflow-x: hidden;
		min-width: 768px;
	}

	.verticalspacer
	{
		min-height: 214px;
	}
}

@media (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 438px;
		padding-bottom: 62px;
		width: 100%;
		max-width: 768px;
	}

	#pu5696
	{
		padding-bottom: 111px;
		margin-top: 20px;
		width: 128.13%;
	}

	#u5696
	{
		top: 20px;
	}

	#menuu5697
	{
		position: relative;
		left: -50%;
		margin-left: 18.3010033444815px;
		width: 100%;
		max-width: 37px;
	}

	#u5698
	{
		width: 97.3%;
	}

	#u5699
	{
		width: 100%;
	}

	#u5702-4
	{
		width: 100%;
	}

	#menuu5697-wrapper
	{
		position: fixed;
		top: 63px;
		z-index: 3;
		left: 50%;
		margin-left: 234px;
		width: 4.82%;
		max-width: 37px;
	}

	#menuu5705
	{
		position: relative;
		left: -50%;
		margin-left: 27.612040133779175px;
		width: 100%;
		max-width: 55px;
	}

	#u5706,#u5707
	{
		width: 100%;
	}

	#u5710-4
	{
		width: 100%;
	}

	#menuu5705-wrapper
	{
		position: fixed;
		top: 63px;
		z-index: 10;
		left: 50%;
		margin-left: 123px;
		width: 7.17%;
		max-width: 55px;
	}

	#menuu5713
	{
		position: relative;
		left: -50%;
		margin-left: 22.795986622073713px;
		width: 100%;
		max-width: 46px;
	}

	#u5714
	{
		width: 97.83%;
	}

	#u5715
	{
		width: 100%;
	}

	#u5716-4
	{
		width: 100%;
	}

	#menuu5713-wrapper
	{
		position: fixed;
		top: 63px;
		z-index: 17;
		left: 50%;
		margin-left: 324px;
		width: 5.99%;
		max-width: 46px;
	}

	#menuu5721
	{
		position: relative;
		left: -50%;
		margin-left: 125.8595317725758px;
		width: 100%;
		max-width: 252px;
	}

	#u5722
	{
		width: 99.61%;
	}

	#u5723
	{
		width: 100%;
	}

	#u5725-4
	{
		width: 100%;
	}

	#menuu5721-wrapper
	{
		position: fixed;
		top: 60px;
		z-index: 24;
		left: 50%;
		margin-left: -419px;
		width: 32.82%;
		max-width: 252px;
	}

	#menuu5729
	{
		position: relative;
		left: -50%;
		margin-left: 14.769230769230319px;
		width: 100%;
		max-width: 30px;
	}

	#u5730
	{
		width: 96.67%;
	}

	#u5731
	{
		width: 100%;
	}

	#u5732-4
	{
		width: 100%;
	}

	#menuu5729-wrapper
	{
		position: fixed;
		top: 63px;
		z-index: 31;
		left: 50%;
		margin-left: 535px;
		width: 3.91%;
		max-width: 30px;
	}

	#menuu5737
	{
		position: relative;
		left: -50%;
		margin-left: 27.290969899665583px;
		width: 100%;
		max-width: 55px;
	}

	#u5738
	{
		width: 98.19%;
	}

	#u5741
	{
		width: 100%;
	}

	#u5743-4
	{
		width: 100%;
	}

	#u5699.MuseMenuActive,#u5699.MuseMenuActive #u5702-4,#u5707.MuseMenuActive,#u5707.MuseMenuActive #u5710-4,#u5715.MuseMenuActive,#u5715.MuseMenuActive #u5716-4,#u5723.MuseMenuActive,#u5723.MuseMenuActive #u5725-4,#u5731.MuseMenuActive,#u5731.MuseMenuActive #u5732-4,#u5741.MuseMenuActive,#u5741.MuseMenuActive #u5743-4
	{
		width: 100%;
		margin-left: 0%;
	}

	#menuu5737-wrapper
	{
		position: fixed;
		top: 63px;
		z-index: 38;
		left: 50%;
		margin-left: 427px;
		width: 7.17%;
		max-width: 55px;
	}

	#u6917
	{
		margin-top: 174px;
		left: 45.45%;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 286px);
	}

	#u7639
	{
		position: relative;
		margin-right: -10000px;
		margin-top: -311px;
		width: 62.9%;
		left: 14.59%;
	}

	#pu7621
	{
		z-index: 47;
		margin-right: -10000px;
		width: 100%;
	}

	#u7621
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 52px;
		width: 100%;
	}

	#pu6993-4
	{
		z-index: 52;
		margin-right: -10000px;
		margin-top: 39px;
		width: 10.77%;
	}

	#u6993-4,#u7302-4
	{
		position: relative;
		margin-right: -10000px;
		width: 100%;
	}

	#u6976-4
	{
		min-height: 111px;
		position: relative;
		margin-right: -10000px;
		width: 33.13%;
		left: 43.9%;
	}

	#u7488
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 181px;
		width: 7.46%;
		left: 92.55%;
	}

	#u7526
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 234px;
		width: 10.22%;
		left: 74.74%;
	}

	#u7615,#u7609
	{
		position: relative;
		margin-right: -10000px;
		width: 77.02%;
	}

	#pu6958-4
	{
		z-index: 83;
		margin-right: -10000px;
		width: 100%;
	}

	#u7164-4,#u7215-4,#u6958-4,#u7194-4
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 91px;
		width: 13.98%;
	}

	#u7401,#u7395
	{
		position: relative;
		margin-right: -10000px;
		width: 86.3%;
		left: 13.71%;
	}

	#u7323-4,#u7017-4
	{
		position: relative;
		margin-right: -10000px;
		width: 9.35%;
	}

	#u7311-4,#u6928-4
	{
		min-height: 111px;
		position: relative;
		margin-right: -10000px;
		margin-top: 52px;
		width: 49.85%;
		left: 50.16%;
	}

	#u7507
	{
		position: relative;
		margin-right: -10000px;
		margin-top: 134px;
		width: 10.49%;
		left: 25.27%;
	}

	#u7483,#u7521,#u7502
	{
		width: 100%;
	}

	body
	{
		overflow-x: hidden;
		min-width: 320px;
	}

	.verticalspacer
	{
		min-height: 214px;
	}
}

